<div id="sidebar" class="col-md-4">
  <!-- search box -->
  <div class="search-box-container">
    <h4>Search</h4>

    <form class="search-post" action="/search" method="GET">
      <div class="input-group">
        <input
          type="text"
          name="search"
          class="form-control"
          placeholder="Search ....."
        />

        <span class="input-group-btn">
          <button type="submit" class="btn btn-danger">Search</button>
        </span>
      </div>
    </form>
  </div>
  <!-- /search box -->

  <!-- recent posts box -->
  <div class="recent-post-container">
    <h4>Recent Posts</h4>

    <% latestArticles.forEach(news => { %> 
    <% const { _id, title, content, image, author, category, createdAt } = news %>
    
      <div class="recent-post">
        <a class="post-img" href="/single/<%= _id %>">
          <img src="/uploads/<%= image %>" alt="<%= title %>" />
        </a>
  
        <div class="post-content">
          <h5>
            <a href="/single/<%= _id %>"><%= title %></a>
          </h5>
          
          <span>
            <i class="fa fa-tags" aria-hidden="true"></i>
            <a href="/category/<%= category.slug %>"><%= category.name %></a>
          </span>
  
          <span>
            <i class="fa fa-calendar" aria-hidden="true"></i>
            <%= new Date(createdAt).toLocaleDateString('en-GB', { day: '2-digit', month: 'long', year: 'numeric' }) %>
          </span>
          
          <a class="read-more" href="/single/<%= _id %>">read more</a>
        </div>
      </div>
    <% }) %>
    
  </div>
  <!-- /recent posts box -->
</div>
